body {
    b, strong {
        font-weight: bold;
    }

    // h1, h2, h3, h4, p, ul, ol {
    //     margin: 0 0 30px 0;
    //     &:last-child {
    //         margin-bottom: 0;
    //     }
    // }

    ul {
        list-style: none;
        padding: 0;
        li {
            position: relative;
            padding-left: 25px;
            &::before {
                content: "";
                background-image: url('../images/list-arrow.svg');
                background-size: 10px 16px;
                height: 16px;
                width: 10px;
                position: absolute;
                left: 0;
                top: 3px;
            }
        }
    }

    ul.ordered-list {
        list-style: none;
        counter-reset: list-counter;
        li {
            counter-increment: list-counter;
            padding-left: 26px;
            &::before {
                content: counter(list-counter);
                background-image: initial;
                background-size: initial;
                color: $secondary01;
                font-family: $primaryFont;
                font-size: 20px;
                line-height: 20px;
                font-weight: 700;
                height: initial;
                width: initial;
                border: 0;
                border-radius: 0;
                top: 2px;
            }
        }
    }

    ul.ordered-list--dark {
        list-style: none;
        counter-reset: list-counter;
        li {
            counter-increment: list-counter;
            padding-left: 41px;
            &::before {
                content: counter(list-counter);
                color: $primary01;
                font-family: $secondaryFont;
                background-image: initial;
                background-size: initial;
                font-size: 18px;
                line-height: 25px;
                font-weight: 700;
                height: initial;
                width: initial;
                border: 0;
                border-radius: 0;
                top: 0px;
            }
        }
    }

    .remove-line-break--mobile {
        @include max(479px) {
            br {
                display: none;
            }
        }
    }
}