$primaryFont: 'garamond-premier-pro', Fallback, sans-serif;
$secondaryFont: 'Avenir', Fallback, sans-serif;

$primary01: #172B38;
$primary02: #FFFFFF;

$secondary01: #9CAEBC;
$secondary02: #717171;
$secondary03: #F4F6F7;

$additional01: #3686B4;
$additional02: #E0134A;
$additional03: #FFB142;
$additional04: #0EA76D;

$shadow: 0px 100px 80px rgba(156, 174, 188, 0.07), 0px 22.3363px 17.869px rgba(156, 174, 188, 0.0417275), 0px 6.6501px 5.32008px rgba(156, 174, 188, 0.0282725);