.product-item {
    position: relative;
    &::before {
        content: "";
        background-image: url('../images/product-addon.svg');
        background-size: 15px 47px;
        width: 15px;
        height: 47px;
        position: absolute;
        left: 0;
        top: 0;
    }
    &::after {
        content: "";
        width: 1px;
        height: calc(100% - 62px);
        background-color: $primary01;
        border-radius: 1px;
        left: 7.5px;
        top: 62px;
        position: absolute;
    }
}

.product-separator {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        left: -10px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('../images/logo-small-white.svg');
        background-size: 7px 8px;
        width: 7px;
        height: 8px;
        background-color: transparent;
    }
}

.homepage-hero {
    margin-left: calc((100% - 1200px) / 2);
    @include max(1260px) {
        margin-left: 0;
        padding-left: 30px;
    }
    @include max(767px) {
        padding-right: 30px;
    }
}

.top-bar {
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        background-image: url('../images/topbar-background.svg');
        background-size: 259px 59px;
        position: absolute;
        left: 0;
        top: 0;
        width: 259px;
        height: 59px;
        @include max(479px) {
            background-size: 395px 90px;
            left: -200px;
            top: 0px;
            width: 395px;
            height: 90px;
        }
    }
}

.activities-table {
    position: relative;
    img {
        z-index: 10;
    }
    &::before, &::after {
        content: '';
        background-image: url('../images/activities-addon.svg');
        background-size: 718px 110px;
        width: 718px;
        height: 110px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @include max(767px) {
            background-size: 359px 55px;
            width: 359px;
            height: 55px;
        }
    }
    &::before {
        right: calc(100% - 18px);
    }
    &::after {
        left: calc(100% - 18px);
    }
}

.app-menu {
    position: relative;
    img {
        z-index: 10;
    }
    &::after {
        @include max(414px) {
            content: '';
            background-image: url('../images/app-menu-bg.svg');
            background-size: 556px 441px;
            width: 556px;
            height: 441px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.milestones-table-desktop {
    position: relative;
    img {
        z-index: 10;
        position: relative;
    }
    &::before {
        position: absolute;
        background-image: url('../images/milestones-bg.svg');
        background-size: 662px 525px;
        width: 662px;
        height: 525px;
        right: calc(100% - 232px);
        top: 50%;
        transform: translateY(-50%);
    }
}

.milestones-table {
    position: relative;
    img {
        z-index: 10;
        position: relative;
    }
    &::before {
        @include max(380px) {
            position: absolute;
            background-image: url('../images/milestones-bg.svg');
            background-size: 373px 296px;
            width: 373px;
            height: 296px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}