.product-item {
    position: relative;
    &::before {
        content: "";
        background-image: url('../images/product-addon.svg');
        background-size: 15px 47px;
        width: 15px;
        height: 47px;
        position: absolute;
        left: 0;
        top: 0;
    }
    &::after {
        content: "";
        width: 1px;
        height: calc(100% - 62px);
        background-color: $primary01;
        border-radius: 1px;
        left: 7.5px;
        top: 62px;
        position: absolute;
    }
}

.product-separator {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        left: -10px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('../images/logo-small-white.svg');
        background-size: 7px 8px;
        width: 7px;
        height: 8px;
        background-color: transparent;
    }
}

.homepage-hero {
    margin-left: calc((100vw - 1200px) / 2);
    @include max(1260px) {
        margin-left: 0;
        padding-left: 30px;
    }
    @include max(767px) {
        padding-right: 30px;
    }
}